/**-----------------------------------------------------------------
	responsive rules
	-------------------------------------------------------------**/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
/* @media only screen and (max-device-width: 1366px) {
  #tsparticles {
    background-attachment: scroll;
  }
  .parallax {
    background-attachment: scroll;
  }
} */
/* Medium Devices, Desktops */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) {
  .menu-responsive-button {
    display: inline-block;
  }
  .nav-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
  .menu-bar {
    min-height: 100vh;
  }
  .dropdown-content {
    position: relative;
    display: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0px 15px;
  }
  .dropdown-content:before {
    border: none;
  }
  .dropdown {
    text-align: center;
    display: block;
  }
  .block-team-member-wrapper {
    margin-bottom: 40px;
  }
  .page-section-casting__form {
    margin-top: 40px;
    padding-left: 0;
  }
  .models-grid-sizer, .models-grid-item {
    width: 50%;
  }
  .testimonials-controls__item {
    width: -webkit-calc(100%/3);
    width: calc(100%/3);
    margin-bottom: 40px;
  }
  .page-footer__block {
    margin-bottom: 40px;
  }
  .blog-article_preview {
    margin-bottom: 40px;
  }
  .blog-sidebar {
    margin-top: 60px;
  }
  #images-wrapper {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
} */

/* Small Devices, Tablets */
/* @media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-section_intro__heading {
    font-size: 7.14286rem;
  }
  .models-grid-sizer, .models-grid-item {
    width: 100%;
  }
  #images-wrapper {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
} */

/* @media only screen and (min-width: 576px) and (max-width: 767px) {

} */

/* Extra Small Devices, Phones */
/* @media only screen and (min-width: 451px) and (max-width: 575px) {
  .page-section_intro__header {
    text-align: center;
  }
  .page-section_intro__heading {
    font-size: 5.14286rem;
  }
  .h2 {
    font-size: 4.28571rem;
  }
  .h3 {
    font-size: 2.57143rem;
  }
  .h4 {
    font-size: 1.57143rem;
  }
  #images-wrapper {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:        1;
  }
} */

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}


/* response */
/**-----------------------------------------------------------------
  responsive rules
  -------------------------------------------------------------**/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /**/
  .menu-responsive-button {
    display: inline-block;
  }
  .nav-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
  .menu-bar {
    min-height: 100vh;
  }
  .dropdown-content {
    position: relative;
    display: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0px 15px;
  }
  .dropdown-content:before {
    border: none;
  }
  .dropdown {
    text-align: center;
    display: block;
  }
  .block-team-member-wrapper {
    margin-bottom: 40px;
  }
  .page-section-casting__form {
    margin-top: 40px;
    padding-left: 0;
  }
  .models-grid-sizer, .models-grid-item {
    width: 50%;
  }
  .testimonials-controls__item {
    width: -webkit-calc(100%/3);
    width: calc(100%/3);
    margin-bottom: 40px;
  }
  .page-footer__block {
    margin-bottom: 40px;
  }
  .blog-article_preview {
    margin-bottom: 40px;
  }
  .blog-sidebar {
    margin-top: 60px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /**/

  .menu-responsive-button {
    display: block;
  }
  .nav-bar {
    display: none;
  }
  .menu-bar {
    dis
  }
  
  .dropdown-content {
    position: relative;
    display: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0px 15px;
  }
  .dropdown-content:before {
    border: none;
  }
  .dropdown {
    text-align: center;
    display: block;
  }

  .page-section_intro__heading {
    font-size: 7.14286rem;
  }
  .models-grid-sizer, .models-grid-item {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .page-section_intro__header {
    text-align: center;
  }
  .page-section_intro__heading {
    font-size: 5.14286rem;
  }
  .h2 {
    font-size: 4.28571rem;
  }
  .h3 {
    font-size: 2.57143rem;
  }
  .h4 {
    font-size: 1.57143rem;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
