/**-----------------------------------------------------------------
	responsive rules
	-------------------------------------------------------------**/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .menu-responsive-button {
    display: inline-block;
  }
  .menu-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }
  .list-menu.js-menu-opened {
    min-height: 100vh;
  }
  .list-menu_nested {
    position: relative;
    display: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0px 15px;
  }
  .list-menu_nested:before {
    border: none;
  }
  .list-menu__item {
    text-align: center;
    display: block;
  }
  .block-team-member-wrapper {
    margin-bottom: 40px;
  }
  .page-section-casting__form {
    margin-top: 40px;
    padding-left: 0;
  }
  .models-grid-sizer, .models-grid-item {
    width: 50%;
  }
  .testimonials-controls__item {
    width: -webkit-calc(100%/3);
    width: calc(100%/3);
    margin-bottom: 40px;
  }
  .page-footer__block {
    margin-bottom: 40px;
  }
  .blog-article_preview {
    margin-bottom: 40px;
  }
  .blog-sidebar {
    margin-top: 60px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-section_intro__heading {
    font-size: 7.14286rem;
  }
  .models-grid-sizer, .models-grid-item {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 451px) and (max-width: 575px) {
  
}