.header {
    background-color: black;
    /* z-index: 300; */
}
.container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar {
    display: flex;
    padding-top: 34px;
    justify-content: space-between;
    /* -webkit-box-pack: justify;  */
}
.logo__heading {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #e30f5f;
    margin-bottom: 5px;
}
.logo__subheading {
    display: block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.28571rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #888;
}
.menu-bar {
    
}