.header {
    background-color: black;
    /* z-index: 300; */
}
.container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    /* -webkit-box-pack: justify;  */
}
/* logo */
.wrapper-logo {
    display: inline-block;
    padding: 17px 0px;
}
.logo__heading {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #e30f5f;
    margin-bottom: 5px;
}
.logo__subheading {
    display: block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    color: #888;
}


/*  */

/* li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  li a, .dropbtn {
    /* position: relative; */
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    padding: 28px 0px;
    margin: 0px 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.28571rem;
    font-weight: 400;
    text-transform: uppercase;
    /* overflow: hidden; */
  }
  li a:hover, .dropdown:hover .dropbtn {
    color: #e30f5f;
    he
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #331a24;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom: 3px solid #e30f5f;
  }
  
  /* .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  } */

  .dropdown-content a {
    display: block;
    min-width: 210px;
    
    background: #e30f5f;
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 20px 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* opacity: 0; */
    /* visibility: hidden; */
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px); 
    transform: translateY(5px);
}
  .dropdown-content a:hover {
      
    background-color: #f1f1f1;
    opacity: 1;
    /* visibility: visible; */
}

  
  .dropdown:hover .dropdown-content {
    display: block;
  }