.header {
    background-color: black;
    /* z-index: 300; */
}

/* logo */

.wrapper-logo {
    display: inline-block;
    padding: 17px 0px;
}
.logo__heading {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    color: #e30f5f;
    margin-bottom: 5px;
}
.logo__subheading {
    display: block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    color: #888;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    /* -webkit-box-pack: justify;  */
}


/* li a, .dropbtn {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    /* text-decoration: none; */
    /* padding: 28px 0px;
    margin: 0px 20px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 400; */
    /* text-transform: uppercase; */
    /* overflow: hidden; */
/* } */


.dropdown a {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    padding: 28px 0px;
    margin: 0px 20px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    /* text-transform: uppercase; */
    /* overflow: hidden; */
}
.dropbtn:hover {
    text-align: center;
    visibility: visible;
    display: block;
    /* position: relative; */
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #331a24;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-bottom: 3px solid #e30f5f;
    
}
.dropdown-content a {
    display: block;
    min-width: 160px;
    /* background: #e30f5f; */
    /*position: absolute; */
    top: 100%;
    left: 0;
    z-index: 100;
    padding: 20px 15px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* opacity: 0; */
    /* visibility: hidden; */
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px); 
    transform: translateY(5px);
}
.dropdown-content a:hover {
    margin: 0;
    padding: 18px 15px;
    background-color: #e30f5f;
    opacity: 1;
    color: white;
    /* visibility: visible; */
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* link Menu Hover */

.dropbtn:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 25px;
    display: block;
    width: 100%;
    height: 1px;
    background: #e30f5f;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.dropbtn:hover:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/* Section Common CSS */

section{
    padding: 60px 0px;
}
.page-main {
    background-color: #fff;
}
.page-section{
    position: relative;
    padding: 90px 0px;
    z-index: 10;
}

/* Section Intro */

.intro-img {
    background-image: url(../images/abstract-g.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    /* filter: drop-shadow(); */
}
/* .card-overlay{
    position: relative;
}
.card-overlay:after {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.7);
} */
.section-intro_span {
    color: #fff;
    text-align: left;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 2px;
}
.page-section_intro_header {
    text-align: left;
}
.page-section_intro_header_h1 {
    /* display: block; */
    font-size: 150px;
    color: #e30f5f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 40px;
    line-height: 1;
}
.section-intro_txt {
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}
.page-section_intro__btn {
    margin-top: 70px;
    text-align: center;
    /* z-index: 500; */
}
.page-section_intro__btn_btn {
    margin: 0 auto;
}

/* Section About */

.page-section-about {
    padding-top: 90px;
    padding-bottom: 90px;
}
.section-about_h1 {
    display: block;
    color: #494949;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 60px;
}
.section-about_paragraph {
    padding-left: 0;
    padding-right: 0;
}

/* About list */

.section-about_list_item {
    justify-content: center;
}
.section-about_list {
    /* display: block;
    width: 100%; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: center;
}
.about_list {
    display: block;
    width: 100%;
    padding-bottom: 30px;
}
.about-list_span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 6px;
    font-size: 25px;
    line-height: 1;
}
.about-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #e30f5f;
    padding-right: 20px;
}

/* Section About Team */

.team-member-wrapper {
    height: 379.391px;
    text-align: center;
}
.team-member {
    max-width: 100%;
    height: 200px;
    border: 1px solid rgba(204, 204, 204, 0.5);
}
.team-member_name {
    display: block;
    margin-top: 15px;
    font-weight: 700;
    font-size: 1.71429rem;
    line-height: 2.14286rem;
}
.team-member_designation {
    display: block;
    margin-bottom: 15px;
    font-size: 1.14286rem;
    line-height: 2rem;
    color: #888;
}
.team-grid_container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 22% 22% 22% 22%;
    /* background-color: #2196F3; */
    padding: 10px;
    justify-content: center;
}

/* Social Icons */

.team-social_icons {
    text-align: center;
    margin: 0 auto;
}
.social-icon {
    position: relative;
    display: inline-block;

}
.social-icon {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.link-social-icon {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 8;
    padding: 4px;
    z-index: 0;
}
.link-social-icon:hover {
    color: rgb(255, 255, 255);
    background-color: #e30f5f;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    transition-duration: 0.2s;
    z-index: -1;
}
/*.link-social-icon:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #e30f5f;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: -1;
} */
