.header {
    background-color: black;
    /* z-index: 300; */
}
.container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar {
    display: flex;
    padding-top: 34px;
}
.logo__heading {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.14286rem;
    line-height: 1;
    font-weight: 700;
    color: #e30f5f;
    margin-bottom: 5px;
}

.menu-bar {
    
}