.header {
    background-color: black;
    /* z-index: 300; */
}
.container {
    
    margin: auto;
    height: auto;
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.nav-bar {
    display: flex;
    padding-top: 34px;
}
.menu-bar {
    
}